doctype html
html
  head
    title Login
  body
    h1 Log In Success!
    p#token(data-token=token)
    p Redirects in 3 seconds.
    p If not redirected, click #[a(href="http://localhost:3000") HERE]
    script(src='/public/main.js')

